@page "/"

<НазваСторінки>Головна</НазваСторінки>

<h1>
    FLOW-MATIC CODE
    FOR SAMPLE PROBLEM 1
</h1>

<code>
    <pre>
@Приклади.Приклад1.ІсходнийКод
    </pre>
</code>


<h1>
    FLOW-MATIC CODE
    FOR SAMPLE PROBLEM 2
</h1>

<code>
    <pre>
@Приклади.Приклад2.ІсходнийКод
    </pre>
</code>

<h1>
    FLOW-MATIC CODE
    FOR SAMPLE PROBLEM 3
</h1>

<code>
    <pre>
@Приклади.Приклад3.ІсходнийКод
    </pre>
</code>

<h1>
    FLOW-MATIC FUNCTIONS
</h1>

List of known functions

<ul>
    @ПунктСпискаОперації(("ADD", "Adds one or more fields (addends) to a specified field (augend) and stores the sum in the field indicated."))
    @ПунктСпискаОперації(("CLOSE-OUT", ""))
    @ПунктСпискаОперації(("COMPARE", "Examines two fields for relative magnitude and/or equality; branches accordingly to the specified operations."))
    @ПунктСпискаОперації(("COUNT", ""))
    @ПунктСпискаОперації(("DIVIDE", "Divides one field by another and stores the unrounded quotient in a field."))
    @ПунктСпискаОперації(("EXECUTE", ""))
    @ПунктСпискаОперації(("FILL", ""))
    @ПунктСпискаОперації(("HALT", ""))
    @ПунктСпискаОперації(("IGNORE", ""))
    @ПунктСпискаОперації(("INPUT", ""))
    @ПунктСпискаОперації(("INSERT", ""))
    @ПунктСпискаОперації(("JUMP", ""))
    @ПунктСпискаОперації(("MOVE", "Places one or more fields of data into any other field or fields."))
    @ПунктСпискаОперації(("MULTIPLY", ""))
    @ПунктСпискаОперації(("OUTPUT", ""))
    @ПунктСпискаОперації(("OVERLAY", ""))
    @ПунктСпискаОперації(("PRINT-OUT", ""))
    @ПунктСпискаОперації(("PUNCH", ""))
    @ПунктСпискаОперації(("READ-ITEM", ""))
    @ПунктСпискаОперації(("REPLACE", ""))
    @ПунктСпискаОперації(("REWIND", ""))
    @ПунктСпискаОперації(("SELECT", ""))
    @ПунктСпискаОперації(("SELECT-LEAST", ""))
    @ПунктСпискаОперації(("STOP", ""))
    @ПунктСпискаОперації(("SUBTRACT", ""))
    @ПунктСпискаОперації(("SWITCH", ""))
    @ПунктСпискаОперації(("TEST", ""))
    @ПунктСпискаОперації(("TRANSFER", ""))
    @ПунктСпискаОперації(("TYPE", ""))
    @ПунктСпискаОперації(("WRITE-ITEM", ""))
    @ПунктСпискаОперації(("UNIVAC", ""))
</ul>

<h1>Syntax</h1>
<pre>
1. Lower case indicates information to be supplied by the programmer.
2. Brackets [ ] indicate options available to the programmer.
3. h = present operation number
   h1, h2, h3 ... = other operation numbers.
4. f1, f2, f3 ... = file letters assigned by programmer.
5. s1, s2, s3, ... = servo numbers assigned by programmer.
6. field-name = name assigned by programmer to data field. e.g., STOCK-NUMBER
7. file-name = name assigned by programmer to data file, e.g., INVENTORY
8. Spaces are significant. There it's not possible used _ for distinguish space from formatting.
</pre>

@ЗаголовокОперації("ADD")

Adds one or more fields (addends) to a specified field (augend) and stores the sum in the field indicated.

<code>
    <pre>
(h) ADD SALES-TAX TO RETAIL-PRICE ; STORE THE SUM IN NET-PRICE .
???
(h) ADD [AND ROUND] [field-name (f1)|addenum-value] TO [field-name (f2)|addenum-value] PLACE THE RESULT IN field-name (f3) [; IF OVERFLOW GO TO OPERATION h1 ].
(h) ADD [AND ROUND] [field-name (f1)|addenum-value] TO [field-name (f2)|addenum-value] PLACE THE RESULT IN field-name (f3) [; AND GO TO OPERATION h1 ].
ADD AND ROUND 12.34 TO PRICE-OLD (B) PLACE THE RESULT IN PRICE-NEW (B) .
ADD 12.34 TO PRICE-OLD (B) PLACE THE RESULT IN PRICE-NEW (B) AND GO TO OPERATION 5 .
ADD 12.34 TO PRICE (B) PLACE THE RESULT IN PRICE-NEW (B) IF OVERFLOW GO TO OPERATION 5 .

    </pre>
</code>

@ЗаголовокОперації("CLOSE-OUT")

Terminates the output files and rewinds the output tapes.

<code>
    <pre>
(h) CLOSE-OUT (FILE|FILES) f1 [f2 f3 ..... fn ].
    </pre>
</code>

@ЗаголовокОперації("COMPARE")

Examines two fields for magnitude and/or equality: branches accordingly.

<code>
    <pre>
(h) COMPARE field-name (f1) WITH field-name (f2) ; IF EQUAL GO TO OPERATION h1 ; OTHERWISE GO TO OPERATION h2 .
(h) COMPARE field-name (f1) WITH field-name (f2) ; IF GREATER GO TO OPERATION h1 ; OTHERWISE GO TO OPERATION h2 .
(h) COMPARE field-name (f1) WITH field-name (f2) ; IF EQUAL GO TO OPERATION h1 ; IF GREATER GO TO OPERATION h2 ; OTHERWISE GO TO OPERATION h3 .
(h) CQMPARE field-name (f1) WITH field-name (f2) ; IF GREATER GO TO OPERATION h1 ; IF EQUAL GO TO OPERATION h2 ; OTHERWISE GO TO OPERATION h3 .
    </pre>
</code>

@ЗаголовокОперації("DIVIDE")

Splits two values or variables, saving the result to a target variable. The first value is the dividend and the second value is the divisor. There is the possibility of rounding the result, and jumping to a specific line once the instruction has been processed or in the event of causing an overflow in the variable.

<code>
    <pre>
???
(h) DIVIDE [AND ROUND] [field-name (f1)|addenum-value] TO [field-name (f2)|addenum-value] PLACE THE RESULT IN field-name (f3) [; IF OVERFLOW GO TO OPERATION h1 ].
(h) DIVIDE [AND ROUND] [field-name (f1)|addenum-value] TO [field-name (f2)|addenum-value] PLACE THE RESULT IN field-name (f3) [; AND GO TO OPERATION h1 ].
DIVIDE AND ROUND PRICE-OLD (B) INTO QUANTITY (B) PLACE THE RESULT IN PRICE-NEW (B) .
DIVIDE PRICE-OLD (B) INTO 12.34 PLACE THE RESULT IN PRICE-NEW (B) AND GO TO OPERATION 5 .
DIVIDE PRICE (B) INTO 12.34 PLACE THE RESULT IN PRICE-NEW (B) IF OVERFLOW GO TO OPERATION 5 .

    </pre>
</code>

@ЗаголовокОперації("EXECUTE")

Performs designated operation or sequence of operations.

<code>
    <pre>
(h) EXECUTE OPERATION h1 [THROUGH OPERATION h2 ].
    </pre>
</code>

@ЗаголовокОперації("FILL")

<code>
    <pre>
(h) FILL PRINT-LINE WITH SPACES .
    </pre>
</code>

@ЗаголовокОперації("INPUT")

Identifies the input and output files to be used and supplies
the first item of each input file.

<code>
    <pre>
(h) INPUT name-of-file FILE-f1 [SERVO s1 |SERVOS s1,s2 ] name-of-file FILE-f2 [SERVO s1 |SERVOS s1,s2 ]...
; OUTPUT name-of-file FILE-f3 [SERVO s1 |SERVOS s1,s2 ] name-of-file FILE-f4 [SERVO s1 |SERVOS s1,s2 ]...
[; PRESELECTION]
[; HSP f1 ,f2 , ... fn ]
[; T/C f1 ,f2 , ... fn ]
[;RERUN [ON|WITH|FROM] OUTPUT f1 ].
    </pre>
</code>

SPECIAL NOTES
<ol>
    <li>The assigned file-name may not begin with the digits FILE-.</li>
    <li>If servo numbers are not specified, the compiler will assign them, reserving the proper servos for tapes for HSP or T/C, as stated.</li>
    <li>
        For a single input file, continuous reads will be provided. For two or
        three, way input, standby coding will be provided, unless preselection is
        specified. Up to eight way input coding will be provided in the preselection option, 
        and up to five full-word keys may be used.
    </li>
    <li>
        The normal and error print-outs which may occur in the execution of this
        coding are self-explanatory. In addition, breakpoint 1 is used through out the coding to provide operating options. 
        For example, if a tape label fails the check, an error print-out gives this information to the
        operator; he may then force transfer on breakpoint 1 to proceed, if desired. In all cases where it is desired 
        to bypass the error, the action is to force transfer on breakpoint 1.
    </li>
    <li>
        If it is desired to begin the problem over, the operating instructions
        are:
        <ul>
            <li>a - Rewind all tapes except the instruction tape.</li>
            <li>b - Clear C and rI.</li>
            <li>c - No transfer on Breakpoint 2.</li>
        </ul>
        This coding is always provided.
    </li>
    <li>
        If rerun coding has been requested, the operating instructions are:
        <ul>
            <li>a - Rewind all tapes except the instruction tape.</li>
            <li>b - Clear C and rI.</li>
            <li>c - Force transfer on Breakpoint 2.</li>
        </ul>
        The problem will be resumed from the last completed output reel, as specified in the input statement.
    </li>
</ol>

@ЗаголовокОперації("JUMP")

Alters the normal sequence of operations and follows the directed path.

<code>
    <pre>
(h) JUMP TO OPERATION h1 .
    </pre>
</code>

@ЗаголовокОперації("MOVE")

PLaces one or many fields of data in any other fields.

<code>
    <pre>
(h) MOVE field-name (f1) TO field-name (f2) [, field-name (f3) ..., field-name (fn) ]
[; TO field-name (f1') [, field-name (f2') ..., field-name (fn') ]]
    </pre>
</code>

@ЗаголовокОперації("MULTIPLY")

Multiplies two values or variables, saving the result to a target variable. 
There is the possibility of rounding the result, and jumping to a specific 
line once the instruction has been processed or in the event of causing an overflow in the variable.

<code>
    <pre>
???
(h) MULTIPLY [AND ROUND] [field-name|addenum-value] TO [field-name|addenum-value] PLACE THE RESULT IN field-name[; IF OVERFLOW GO TO OPERATION h1 ].
(h) MULTIPLY [AND ROUND] [field-name|addenum-value] TO [field-name|addenum-value] PLACE THE RESULT IN field-name[; AND GO TO OPERATION h1 ].
    </pre>
</code>

@ЗаголовокОперації("PUNCH")

Engrave on a punch card the value of a record, referenced by its alias. We have the possibility to jump to a specific line once the instruction has been processed.

<code>
    <pre>
???
(h) PUNCH field-name CARD [AND GO TO OPERATION h1 ].
    </pre>
</code>

@ЗаголовокОперації("READ-ITEM")

Supplies the next item 9f an input file. When there is no
more data, terminates the file and takes the directed path
within the problem
<code>
    <pre>
(h) READ-ITEM f1 [; IF END OF DATA GO TO OPERATION h1 ].
    </pre>
</code>

SPECIAL NOTES
<ol>
    <li>
        Each input file mentioned in the INPUT statement must have at least one
        READ-ITEM operation.
    </li>
    <li>
        At least one READ-ITEM operation, for each input file, must include the
        optional phrase, IF END OF DATA ..... .
    </li>
    <li>
        If two or more READ-ITEM operations, for a single input file, include the
        IF END OF DATA ....... option, the operation numbers, h1 must be identical.
    </li>
</ol>

@ЗаголовокОперації("REPLACE")

<code>
    <pre>
(h) REPLACE LEADING ZEROES WITH SPACES IN PRINT-COST .
    </pre>
</code>

@ЗаголовокОперації("REWIND")

Rewinds current reel of an input file.

<code>
    <pre>
(h) REWIND f1 [,f2 ,f3 ...,fn ].
    </pre>
</code>

@ЗаголовокОперації("SELECT-LEAST")

<code>
    <pre>
(h) SELECT-LEAST KEY ; IF A GO OP 2 , IF B GO OP 5 , IF C GO OP 8 .
    </pre>
</code>

@ЗаголовокОперації("SET")

Alters an operation, changing the order of execution.

<code>
    <pre>
(h) SET OPERATION h1 TO GO TO OPERATION h2 [, OPERATION h3 TO GO TO OPERATION h4 ..., OPERATION h5 TO GO TO OPERATION h6 ].
    </pre>
</code>

@ЗаголовокОперації("STOP")

Rewinds the instruction tape and terminates the problem.

<code>
    <pre>
(h) STOP. (END)
    </pre>
</code>

SPECIAL NOTES
<ol>
    <li>
        The stop operation must be. the highest numbered operation in the problem,
        and it must be followed by the word END in parentheses.
    </li>
</ol>

@ЗаголовокОперації("TEST")

Examines the field and a constant for magnitude and/or equality; branches accordingly.
<code>
    <pre>
(h) TEST field-name (f1) AGAINST test-value ; IF GREATER GO TO OPERATION h1 ; IF EQUAL GO TO OPERATION h2 [; AGAINST ... ]; OTHERWISE GO TO OPERATION h3 .
(h) TEST field-name (f1) AGAINST test-value ; IF GREATER GO TO OPERATION h1 ; IF LESS GO TO OPERATION h2 [; AGAINST ... ]; OTHERWISE GO TO OPERATION h3 .
(h) TEST field-name (f1) AGAINST test-value ; IF UNEQUAL GO TO OPERATION h1 [; AGAINST ... ]; OTHERWISE GO TO OPERATION h2 .
    </pre>
</code>

SPECIAL NOTES
<ol>
    <li>
        The conditional phrases, IF GREATER, IF EQUAL, IF LESS, shown in Option
        1 and 2 may appear singly or in any order in combinations of two. The
        phrase OTHERWISE must always appear, and must be written last.
    </li>
    <li>
        If it is desired to use a test value of spaces or periods, the words
        SPACE, PERIOD, SPACES, or PERIODS should be used instead of the actual
        digits. In these cases, only one test value is acceptable. In all other
        cases, tests against many test values may be made in one operation.
    </li>
</ol>

@ЗаголовокОперації("TRANSFER")

Places one item or group of words in any other item or group
of words of equal size.

<code>
    <pre>
(h) TRANSFER f1 TO f2 .
(h) TRANSFER sub-item-name IN f1 TO f2 .
(h) TRANSFER f1 TO sub-item-name IN f2 .
(h) TRANSFER sub-item-name IN f1 TO sub-item-name IN f2 .
    </pre>
</code>

SPECIAL NOTES
<ol>
    <li>
        Item or sub-item sizes in fi and f2 must be equal in size.
    </li>
</ol>


@ЗаголовокОперації("WRITE-ITEM")

Sends an output item to the output file.

<code>
    <pre>
(h) WRITE-ITEM f1 .
    </pre>
</code>

<h2>References</h2>
<ul>
    <li>https://doi.org/10.1016/0066-4138(60)90042-2</li>
    <li>https://doi.org/10.1109/MAHC.2004.34</li>
    <li>https://zonadepruebas.com/viewtopic.php?t=4533</li>
</ul>

@code {
    RenderFragment<(string операція, string? опис)> ПунктСпискаОперації => value => __builder =>
    {
        <li>
            <ЛокальнеПосилання Target="@value.операція" class="btn-link">@value.операція</ЛокальнеПосилання>
            @value.опис
        </li>
    };
    RenderFragment<string> ЗаголовокОперації => операція => __builder =>
    {
        <a name="@операція"></a>
        <h2>
            @операція
        </h2>
    };

}