@page "/info/docs"

<НазваСторінки>Documentation</НазваСторінки>

<h1>
    Documentation
</h1>

<ul>
    <li>
        <a href="https://doi.org/10.1016/0066-4138(60)90042-2">
            The FLOW-MATIC and MATH-MATIC automatic programming systems. Has some instructions not in manual.
        </a>
    </li>
    <li>
        <a href="https://doi.org/10.1109/MAHC.2004.34">
            Sperry Rand's first-generation computers, 1955-1960: hardware and software
        </a>
    </li>
    <li><a href="https://zonadepruebas.com/viewtopic.php?t=4533">FLOW-MATIC Interpreter (in Spanish)</a></li>
    <li><a href="http://bitsavers.trailing-edge.com/pdf/univac/flow-matic/U1518_FLOW-MATIC_Programming_System_1958.pdf">FLOW-MATIC manual (1958)</a></li>
</ul>
