@page "/program"

<НазваСторінки>Program</НазваСторінки>

<h1>
    Program
</h1>

<button type="button" class="btn btn-secondary" @onclick="Приклад1">Sample 1</button>
<button type="button" class="btn btn-secondary" @onclick="Скомпілювати">Compile</button>
<button type="button" class="btn btn-primary" @onclick="Запустити">Run</button>

<p>
    Кількість Приводів @ВіртуальнаМашина.КількістьПриводів
    Кількість Файлів @ВіртуальнаМашина.КількістьФайлів
</p>

<pre>
@foreach (var ф in ВіртуальнаМашина.РезерваціяПривідів)
{
    @ф.ДізайнФайлу.НазваФайлу <text> - </text> @string.Join(", ", ф.АлокованіПриводи)
    <br/>
}
</pre>

<h2>Code</h2>
<code>
    <pre>
@ЛентаВводу.ІсходнийКод
    </pre>
</code>
<h2>Files</h2>
@foreach (var файл in ЛентаВводу.Файли)
{
<pre>
@Форматування.Переформатувати(файл)
</pre>
}

@code {
    private string ісходнийКод;

    public string ІсходнийКод
    { 
        get => ісходнийКод;
        set
        {
            ісходнийКод = value;
        }
    }

    public ЛентаВводу ЛентаВводу = new();
    public ВіртуальнаМашина ВіртуальнаМашина = new();

    void Приклад1()
    {
        ЛентаВводу = Приклади.Приклад1;
    }

    void Запустити()
    {
        ВіртуальнаМашина.ВиконатиПрограму();
    }

    void Скомпілювати()
    {
        ВіртуальнаМашина.СкомпілюватиПрограму(ЛентаВводу);
    }
}
