@page "/program"
@inject БібліотекаЛент бібліотекаЛент
@inject ВіртуальнаМашина ВіртуальнаМашина

<НазваСторінки>Program</НазваСторінки>
@{
    var резервації = ВіртуальнаМашина.РезерваціяПривідів.ToList();
}
<h1>
    Program
</h1>

<button type="button" class="btn btn-secondary" @onclick="Приклад1">Sample 1</button>
<button type="button" class="btn btn-secondary" @onclick="Приклад2">Sample 2</button>
<button type="button" class="btn btn-secondary" @onclick="Скомпілювати">Compile</button>
<button type="button" class="btn btn-primary" @onclick="Запустити">Run</button>
<button type="button" class="btn btn-primary" @onclick="Крок">Step</button>

@if (ВіртуальнаМашина.ФлагОстанова)
{
    <span class="text-danger">
        &nbsp;
        <i class="bi bi-x-octagon-fill"></i>
    </span>
    
}

<p>
    Кількість Приводів @ВіртуальнаМашина.КількістьПриводів
    Кількість Файлів @ВіртуальнаМашина.КількістьФайлів
</p>

<p>
    Позиція: @ВіртуальнаМашина.Позиція
    Ошибка: <span class="text-danger">@ВіртуальнаМашина.Ошибка</span>
</p>

<div class="row">
    @for (var i = 0; i < ВіртуальнаМашина.СервоПривіди.Length; i++)
    {
        var п = ВіртуальнаМашина.СервоПривіди[i];
        <div class="col-3">
            <select @oninput="ЛентаВибрана(п)">
                <option value="">-- Empty --</option>
                @foreach (var лента in бібліотекаЛент.Ленти)
                {
                    <option>@лента.Назва</option>
                }
            </select>
            <text> </text>
            @for (var j = 0; j < резервації.Count; j++)
            {
                var ф = резервації[j];
                if (ф.АлокованіПриводи.Contains(i + 1))
                {
                    if (ф.ВхідніДані)
                    {
                        @ІнформаціяРезерваціїФайлу(ф)
                    }
                    else
                    {
                        <i>@ІнформаціяРезерваціїФайлу(ф)</i>
                    }
                    
                }
            }

            @if (п is not null && п.КінецьДаних)
            {
                <span class="text-danger">
                    &nbsp;
                    <i class="bi bi-bandaid"></i>
                </span>
            }
        </div>
    }
</div>

<pre>
@foreach (var ф in ВіртуальнаМашина.РезерваціяПривідів)
{
    if (ф.ВхідніДані)
    {
        @ІнформаціяРезервації(ф)
    }
    else
    {
        <i>@ІнформаціяРезервації(ф)</i>
    }
    <br/>
}
</pre>

<h2>Code</h2>
<code>
    <pre>
@ЛентаВводу.ІсходнийКод
    </pre>
</code>
<h2>Files</h2>
@foreach (var файл in ЛентаВводу.Файли)
{
<pre>
@Форматування.Переформатувати(файл)
</pre>
}

@code {
    private RenderFragment<ВіртуальнаМашина.РезерваціяПривіда> ІнформаціяРезервації = ф =>
        @<text>@ф.ДізайнФайлу.НазваФайлу <text> - </text> @string.Join(", ", ф.АлокованіПриводи)</text>;

    private RenderFragment<ВіртуальнаМашина.РезерваціяПривіда> ІнформаціяРезерваціїФайлу = ф =>
    @<text>
        @ф.ДізайнФайлу.НазваФайлу
        <text> (item size: </text>
        @ф.ДізайнФайлу.ДізайнЕлементів.РозмірЕлемента
        <text>)</text>
    </text>;

    private string ісходнийКод;

    public string ІсходнийКод
    { 
        get => ісходнийКод;
        set
        {
            ісходнийКод = value;
        }
    }

    public ЛентаВводу ЛентаВводу = new();

    protected override async Task OnInitializedAsync()
    {
        await бібліотекаЛент.ЗавантажитиІзЛокальногоСховища();
        await base.OnInitializedAsync();
    }

    void Приклад1()
    {
        ЛентаВводу = Приклади.Приклад1;
    }

    void Приклад2()
    {
        ЛентаВводу = Приклади.Приклад2;
    }

    void Запустити()
    {
        ВіртуальнаМашина.ВиконатиПрограму();
    }

    void Крок()
    {
        ВіртуальнаМашина.ВиконатиРядокПрограми();
    }

    void Скомпілювати()
    {
        ВіртуальнаМашина.СкомпілюватиПрограму(ЛентаВводу);
    }

    public Func<ChangeEventArgs, Task> ЛентаВибрана(СервоПривід? привід)
    {
        return (ChangeEventArgs args) =>
        {
            if (привід is null)
            {
                return Task.CompletedTask;
            }

            var лента = бібліотекаЛент.Ленти.FirstOrDefault(_ => _.Назва == (string?)args.Value);
            if (лента is not null)
            {
                привід.ВставитиЛенту(лента);
            }
            else
            {
                привід.ВитягнутиЛенту();
            }

            return Task.CompletedTask;
        };
    }
}
