@page "/data-design"

<НазваСторінки>Проектування Даних</НазваСторінки>

<h1>Проектування Даних</h1>

<h2>Дізайн файлу</h2>
<pre>
@дізайнФайлу
</pre>

<h2>Дізайн елемента</h2>
<pre>
@дізайнЕлемента
</pre>

<h2>Дізайн поля</h2>
<pre>
@дізайнПоля
</pre>

<h2>Інвентар</h2>
<pre>
@Переформатувати(Інвентар)
</pre>

<h2>Ціна</h2>
<pre>
@Переформатувати(Ціна)
</pre>

<h2>Оцінений Інвентар</h2>
<pre>
@Переформатувати(ОціненийІнвентар)
</pre>

<h2>Неоцінений Інвентар</h2>
<pre>
@Переформатувати(НеоціненийІнвентар)
</pre>

@code {
    private string дізайнФайлу = @"
NAME OF FILE
xxxxxxxxxxxx
FILE DESIGN 
                   
LABEL      
xxxxxxxxxxxx
LOC OF LABEL
         xxx
MULTI REEL  
           x
BLK CT IND  
           x
BLK CT LOC  
         xxx
END REEL SEN
xxxxxxxxxxxx
END FILE SEN
xxxxxxxxxxxx
LOC IN FIRST
         xxx
LOC IN LAST 
         xxx
";
    private string дізайнЕлемента = @"
ITEM DESIGN 
            
ITEM SIZE
         xxx
NO OF KEYS  
           x
KEY 1       
xxxxxxxxxxxx
";
    private string дізайнПоля = @"
FIELD DESIGN 
            
            
000xxx000000
00000xxxxxx0
            
";

    private ДізайнФайлу Інвентар = new ДізайнФайлу()
    {
        НазваФайлу = "INVENTORY",
        Мітка = "MMDDYY100101",
        МісцеМітки = 3,
        БагатоБобінний = true,
        ІндікаторКількостіБлоків = true,
        МісцеКількостіБлоків = 1,
        ДізайнЕлементів = new ДізайнЕлементів()
        {
            РозмірЕлемента = 10,
            Ключи = ["PRODUCT-NO"]
        },
        ДізайнПолей = new ДізайнПолей()
        {
            Поля = new[]
            {
                new ОписПоля()
                {
                    Назва = "PRODUCT-NO",
                    Тип = ТипПоля.ЧислаТаЛітери,
                    Місце = 0,
                    ПозіціяТочки = "",
                    ПозіціяЗнака = null,
                    ПозіціяНайлівішогоСимвола = 1,
                    КількістьСимволів = 12,
                },
                new ОписПоля()
                {
                    Назва = "QUANTITY",
                    Тип = ТипПоля.Числовий,
                    Місце = 1,
                    ПозіціяТочки = "",
                    ПозіціяЗнака = null,
                    ПозіціяНайлівішогоСимвола = 7,
                    КількістьСимволів = 6,
                    Витягач = "000000111111",
                },
            }
        },
    };

    private ДізайнФайлу Ціна = new ДізайнФайлу()
    {
        НазваФайлу = "PRICE",
        Мітка = "MMDDYY100201",
        МісцеМітки = 3,
        БагатоБобінний = false,
        МаркерКінцяБобіни = "",
        ІндікаторКількостіБлоків = true,
        МісцеКількостіБлоків = 1,
        ДізайнЕлементів = new ДізайнЕлементів()
        {
            РозмірЕлемента = 2,
            Ключи = ["PRODUCT-NO"]
        },
        ДізайнПолей = new ДізайнПолей()
        {
            Поля = new[]
            {
                new ОписПоля()
                {
                    Назва = "PRODUCT-NO",
                    Тип = ТипПоля.ЧислаТаЛітери,
                    Місце = 0,
                    ПозіціяТочки = "",
                    ПозіціяЗнака = null,
                    ПозіціяНайлівішогоСимвола = 1,
                    КількістьСимволів = 12,
                },
                new ОписПоля()
                {
                    Назва = "UNIT-PRICE",
                    Тип = ТипПоля.Числовий,
                    Місце = 1,
                    ПозіціяТочки = "3R",
                    ПозіціяЗнака = null,
                    ПозіціяНайлівішогоСимвола = 8,
                    КількістьСимволів = 5,
                    Витягач = "000000011111",
                },
            }
        },
    };

    private ДізайнФайлу ОціненийІнвентар = new ДізайнФайлу()
    {
        НазваФайлу = "PRICED-INV",
        Мітка = "MMDDYY100301",
        МісцеМітки = 3,
        БагатоБобінний = true,
        ІндікаторКількостіБлоків = true,
        МісцеКількостіБлоків = 1,
        ДізайнЕлементів = new ДізайнЕлементів()
        {
            РозмірЕлемента = 10,
            Ключи = ["PRODUCT-NO"]
        },
        ДізайнПолей = new ДізайнПолей()
        {
            Поля = new[]
            {
                new ОписПоля()
                {
                    Назва = "PRODUCT-NO",
                    Тип = ТипПоля.ЧислаТаЛітери,
                    Місце = 0,
                    ПозіціяТочки = "",
                    ПозіціяЗнака = null,
                    ПозіціяНайлівішогоСимвола = 1,
                    КількістьСимволів = 12,
                },
                new ОписПоля()
                {
                    Назва = "QUANTITY",
                    Тип = ТипПоля.Числовий,
                    Місце = 1,
                    ПозіціяТочки = "",
                    ПозіціяЗнака = null,
                    ПозіціяНайлівішогоСимвола = 7,
                    КількістьСимволів = 6,
                    Витягач = "000000111111",
                },
                new ОписПоля()
                {
                    Назва = "UNIT-PRICE",
                    Тип = ТипПоля.Числовий,
                    Місце = 2,
                    ПозіціяТочки = "3R",
                    ПозіціяЗнака = null,
                    ПозіціяНайлівішогоСимвола = 8,
                    КількістьСимволів = 5,
                    Витягач = "000000011111",
                },
                new ОписПоля()
                {
                    Назва = "EXT-PRICE",
                    Тип = ТипПоля.Числовий,
                    Місце = 3,
                    ПозіціяТочки = "8R",
                    ПозіціяЗнака = null,
                    ПозіціяНайлівішогоСимвола = 3,
                    КількістьСимволів = 10,
                    Витягач = "001111111111",
                },
            }
        },
    };

    private ДізайнФайлу НеоціненийІнвентар = new ДізайнФайлу()
    {
        НазваФайлу = "INVENTORY",
        Мітка = "MMDDYY100401",
        МісцеМітки = 3,
        БагатоБобінний = true,
        ІндікаторКількостіБлоків = true,
        МісцеКількостіБлоків = 1,
        ДізайнЕлементів = new ДізайнЕлементів()
        {
            РозмірЕлемента = 10,
            Ключи = ["PRODUCT-NO"]
        },
        ДізайнПолей = new ДізайнПолей()
        {
            Поля = new[]
            {
                new ОписПоля()
                {
                    Назва = "PRODUCT-NO",
                    Тип = ТипПоля.ЧислаТаЛітери,
                    Місце = 0,
                    ПозіціяТочки = "",
                    ПозіціяЗнака = null,
                    ПозіціяНайлівішогоСимвола = 1,
                    КількістьСимволів = 12,
                },
                new ОписПоля()
                {
                    Назва = "QUANTITY",
                    Тип = ТипПоля.Числовий,
                    Місце = 1,
                    ПозіціяТочки = "",
                    ПозіціяЗнака = null,
                    ПозіціяНайлівішогоСимвола = 7,
                    КількістьСимволів = 6,
                    Витягач = "000000111111",
                },
            }
        },
    };

    static string Переформатувати(ДізайнФайлу файл)
    {
        var текст = файл.ToString();
        System.Text.StringBuilder результат = new();
        var chunkSize = 12 + Environment.NewLine.Length;
        for (var i = 0 ; i < текст.Length / chunkSize; i++)
        {
            var chunk = текст.Substring(i * chunkSize, 12);
            результат.Append(chunk);
            if (i % 10 == 9)
            {
                результат.Append(Environment.NewLine);
            }
            else
            {
                результат.Append(' ');
            }
        }

        return результат.ToString();
    }
}
