@page "/data-design"

<НазваСторінки>Data Design</НазваСторінки>

<h1>Data Design</h1>

<h2>File Design</h2>
<pre>
@дізайнФайлу
</pre>

<h2>Item Design</h2>
<pre>
@дізайнЕлемента
</pre>

<h2>Field Design</h2>
<pre>
@дізайнПоля
</pre>

<h2>Inventory</h2>
<pre>
@Переформатувати(ПрикладиФайлів.Інвентар)
</pre>
<h3>Item sample</h3>
@РозміткаФайлу(ПрикладиФайлів.Інвентар)

<h2>Price</h2>
<pre>
@Переформатувати(ПрикладиФайлів.Ціна)
</pre>
<h3>Item sample</h3>
@РозміткаФайлу(ПрикладиФайлів.Ціна)

<h2>Priced Inventory</h2>
<pre>
@Переформатувати(ПрикладиФайлів.ОціненийІнвентар)
</pre>
<h3>Item sample</h3>
@РозміткаФайлу(ПрикладиФайлів.ОціненийІнвентар)

<h2>Unpriced Inventory</h2>
<pre>
@Переформатувати(ПрикладиФайлів.НеоціненийІнвентар)
</pre>
<h3>Item sample</h3>
@РозміткаФайлу(ПрикладиФайлів.НеоціненийІнвентар)

@code {
    private string дізайнФайлу = @"
NAME OF FILE
xxxxxxxxxxxx
FILE DESIGN 
                   
LABEL      
xxxxxxxxxxxx
LOC OF LABEL
         xxx
MULTI REEL  
           x
BLK CT IND  
           x
BLK CT LOC  
         xxx
END REEL SEN
xxxxxxxxxxxx
END FILE SEN
xxxxxxxxxxxx
LOC IN FIRST
         xxx
LOC IN LAST 
         xxx
";
    private string дізайнЕлемента = @"
ITEM DESIGN 
            
ITEM SIZE
         xxx
NO OF KEYS  
           x
KEY 1       
xxxxxxxxxxxx
";
    private string дізайнПоля = @"
FIELD DESIGN 
            
            
000xxx000000
00000xxxxxx0
            
";
    RenderFragment<ДізайнФайлу> РозміткаФайлу => файл => __builder =>
    {
        <table>
            <tbody>
                @for(var i = 0;i<файл.ДізайнЕлементів.РозмірЕлемента;i++)
                {
                    var поля = файл.ДізайнПолей.Поля.Select((з, і) => (з, і)).Where(_ => _.з.Місце == i).ToList();
                    <tr>
                        @for (var j = 0; j < 12; j++)
                        {
                            var поляВЗоне = поля.Where(_ => (_.з.ПозіціяНайлівішогоСимвола <= j + 1) && (_.з.ПозіціяНайлівішогоСимвола + _.з.КількістьСимволів > j + 1)).ToList();
                            var символ = поляВЗоне.Count == 0 ? "_" : string.Join("/", поляВЗоне.Select(_ => _.і));
                            var ключ = файл.ДізайнЕлементів.Ключи.Intersect(поляВЗоне.Select(_ => _.з.Назва)).ToList().Count > 0;
                            if (ключ)
                            {
                                <td><b>@символ</b></td>
                            }
                            else
                            {
                                <td>@символ</td>
                            }
                        }
                    </tr>
                }
            </tbody>
        </table>
        <ul>
        @for (var i = 0; i < файл.ДізайнПолей.Поля.Length; i++)
        {
            <li>@i - @файл.ДізайнПолей.Поля[i].Назва</li>
        }
        </ul>
    };

    static string Переформатувати(ДізайнФайлу файл)
    {
        var текст = файл.ToString();
        System.Text.StringBuilder результат = new();
        var chunkSize = 12 + Environment.NewLine.Length;
        for (var i = 0 ; i < текст.Length / chunkSize; i++)
        {
            var chunk = текст.Substring(i * chunkSize, 12);
            результат.Append(chunk);
            if (i % 10 == 9)
            {
                результат.Append(Environment.NewLine);
            }
            else
            {
                результат.Append(' ');
            }
        }

        return результат.ToString();
    }
}
