@page "/counter"

<НазваСторінки>Лічільник</НазваСторінки>

<h1>Лічільник</h1>

<p role="status">Поточна кількість: @поточнаКількість</p>

<button class="btn btn-primary" @onclick="ЗбільшитиКількість">Натисни мене</button>

@code {
    private int поточнаКількість = 0;

    private void ЗбільшитиКількість()
    {
        поточнаКількість++;
    }
}
