<div class="row">
    <div class="col">
        @ОписПоля.Назва
    </div>
    <div class="col">
        <InputText @bind-Value="ЗначенняПоля" @bind-Value:after="ПолеОновлено" maxlength="@ОписПоля.КількістьСимволів" />
    </div>
</div>

@code {
    public string зміст = "";
    [Parameter]
    public required string Зміст
    {
        get => зміст;
        set
        {
            зміст = value;
        }
    }

    [Parameter]
    public EventCallback<string> ЗмістChanged { get; set; }

    [Parameter]
    public required ОписПоля ОписПоля { get; set; }

    public int ПозіціяНайлівішогоСимвола => ОписПоля.Місце * 12 + ОписПоля.ПозіціяНайлівішогоСимвола - 1;

    public string ЗначенняПоля
    {
        get => Зміст.Length <= ПозіціяНайлівішогоСимвола
                ? "" 
                : Зміст.Length <= ПозіціяНайлівішогоСимвола + ОписПоля.КількістьСимволів
                    ? Зміст.Substring(ПозіціяНайлівішогоСимвола)
                    : Зміст.Substring(ПозіціяНайлівішогоСимвола, ОписПоля.КількістьСимволів);
        set
        {
            if (Зміст.Length < ПозіціяНайлівішогоСимвола) 
            {
                Зміст += new string(' ', ПозіціяНайлівішогоСимвола - Зміст.Length) + ФіксованаДовжина(value, ОписПоля.КількістьСимволів);
            }
            else if (Зміст.Length == ПозіціяНайлівішогоСимвола)
            {
                Зміст += ФіксованаДовжина(value, ОписПоля.КількістьСимволів);
            } 
            else if (Зміст.Length <= ПозіціяНайлівішогоСимвола + ОписПоля.КількістьСимволів)
            {
                Зміст = Зміст.Substring(0, ПозіціяНайлівішогоСимвола) + ФіксованаДовжина(value, ОписПоля.КількістьСимволів);
            }
            else
            {
                Зміст = Зміст.Substring(0, ПозіціяНайлівішогоСимвола) + ФіксованаДовжина(value, ОписПоля.КількістьСимволів) + Зміст.Substring(ПозіціяНайлівішогоСимвола + ОписПоля.КількістьСимволів);
            }
        }
    }

    public static string ФіксованаДовжина(string значення, int довжина)
    {
        if (значення.Length < довжина) return new string(' ', довжина - значення.Length) + значення;
        return значення.Substring(0, довжина);
    }

    private async Task ПолеОновлено()
    {
        await ЗмістChanged.InvokeAsync(Зміст);
    }

}
