@for (var i = 0; i < Чанки.Length; i++)
{
    if (ДізайнФайлу.ДізайнПолей is null)
    {
        <text>Editing of the file without field design is not implemented yet.</text>
    }
    else
    {
        @foreach (var поля in ДізайнФайлу.ДізайнПолей.Поля)
        {
            var чанк = Чанки[i];
            <РедакторПоля @bind-Зміст="чанк" ОписПоля="поля" @bind-Зміст:after="ЧанкОновлено(i, чанк)" />
        }
    }
}

<button type="button" class="btn btn-primary" @onclick="Додати">Add item</button>

@code {
    [Parameter]
    public required string Зміст
    {
        get
        {
            var результат =  string.Join("", Чанки);
            return результат.Length < ДізайнФайлу.ДізайнЕлементів.РозмірЕлемента * 12
                ? результат + new string(' ', ДізайнФайлу.ДізайнЕлементів.РозмірЕлемента * 12 - результат.Length)
            : результат;
        }

        set
        {
            Чанки = value.Chunk(ДізайнФайлу.ДізайнЕлементів.РозмірЕлемента * 12).Select(x => new string(x)).ToArray();
        }
    }

    [Parameter]
    public EventCallback<string> ЗмістChanged { get; set; }

    [Parameter]
    public required ДізайнФайлу ДізайнФайлу { get; set; }

    public string[] Чанки;// => Зміст.Chunk(ДізайнФайлу.ДізайнЕлементів.РозмірЕлемента).Select(x => new string(x)).ToArray();

    public void Додати()
    {
        Зміст += new string(' ', ДізайнФайлу.ДізайнЕлементів.РозмірЕлемента * 12);
    }

    private Func<Task> ЧанкОновлено(int i, string чанк)
    {
        var x = i;
        return async () =>
        {
            Чанки[x] = чанк;
            await ЗмістChanged.InvokeAsync(Зміст);
        };
    }

}
